footer
  .white-overlay
//- Scripts
script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script(type="text/javascript" src="assets/js/vendors/slick.min.js")
script(type="text/javascript" src="assets/js/vendors/jquery.jInvertScroll.js")
script(type="text/javascript" src="assets/js/vendors/jspdf.min.js")
script(type="text/javascript" src="assets/js/vendors/jquery.ui.touch-punch.min.js")
script(type="text/javascript" src="assets/js/vendors/Chart.bundle.js")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
script(type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js")
script(type="text/javascript" src="assets/js/script.js")
