.homepage-intro
    .text-headline
        h1 What is your brand archetype?
        p Brand archetype helps to perceive sense of identity. One that mirrors the needs of customers and indicates the brand’s driving force. <br/> This quiz will help to determine your brand archetype.
    
    .controls
        a.btn.btn-primary#start-quiz(href="javascript:void(0)") Let’s start
        span.helper-text This will take up <br/> to 15 minutes

img(src="assets/img/lightning.png", alt="Lightning" class="lightning-homepage")
  
.white-overlay
