.homepage-intro
    .text-headline
        h1 What is your brand archetype?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et odio eget lorem imperdiet luctus.
    
    .controls
        a.btn.btn-primary#start-quiz(href="javascript:void(0)") Let’s start
        span.helper-text This will take only <br/> a few minutes

img(src="../assets/img/lightning.png", alt="Lightning" class="lightning-homepage")