.quiz-slider
    .quiz-question-wrap#1
        .grid
            .row
                .col.md-6-12.full-height
                    .quiz-question
                        h2 What is the goal of your brand?
                        span.quiz-question--explanation Please <p>drag and drop</p> 3 cards that you think best describe your brand by <p>priority<p>.
                
                .col.md-6-12.answers-wrap
                    ul#allFacets.answer-list
                        li.draggable
                            .answer-box(data-value="Lover Intimacy") Enjoy life passionately and promote relationship. Be a ectionate, intimate and charming.
                        li.draggable
                            .answer-box(data-value="Caregiver Service") Help and serve others. Be service-oriented, empathetic and giving.
                        li.draggable
                            .answer-box(data-value="Innocent Safety") Return to simple pleasures, to find and create hapiness. Be wholesome, utopian and optimistic.
                        li.draggable
                            .answer-box(data-value="Rebel Liberation") Resist the status quo and escape average. Be risktaking, raw and edgy.
                        li.draggable
                            .answer-box(data-value="Entertainer Enjoyment") Enjoy the moment and lighten up the world. Be playful, humorous and witty.
                        li.draggable
                            .answer-box(data-value="Ruler Control") Achieve success and influence. Be confident, powerful and authoritative.
                        li.draggable
                            .answer-box(data-value="Sage Understanding") Understand the world, to find and share the truth. Be truth-seeking, decisive and objective.
                        li.draggable
                            .answer-box(data-value="Magician Belief") Transform people’s lives and promote faith and wonder. Be transformative inspiring, visionary.
                        li.draggable
                            .answer-box(data-value="Everyman Belonging") Build community, relate to others, belong and be accepted. Be friendly, down-to-earth and honest.
                        li.draggable
                            .answer-box(data-value="Creator Innovation") Create something new and realise a vision. Be imaginative, innovative and expressive.
                        li.draggable
                            .answer-box(data-value="Explorer Freedom") Learn about life through experience and create more freedom. Be openminded, adventurous and independent.
                        li.draggable
                            .answer-box(data-value="Hero Mastery") Over-come all abstacles and motivate others to be better. Be courageous, determined and triumphant.
                    
                    div.cloned-list
                
    
    .quiz-question-wrap#2
        .grid
            .row
                .col.md-6-12.full-height
                    .quiz-question
                        h2 What are characteristics of your brand?
                        span.quiz-question--explanation Please <p>drag and drop</p> 3 cards that you think best describe your brand by <p>priority<p>.
                
                .col.md-6-12.answers-wrap
                    ul#allFacets.answer-list
                        li.draggable
                            .answer-box(data-value="Lover Intimacy") Passionate Loving people
                        li.draggable
                            .answer-box(data-value="Caregiver Service") Caring Helpful Patronizing Advising
                        li.draggable
                            .answer-box(data-value="Innocent Safety") Loyal Dreamy Hopeful Optimistic
                        li.draggable
                            .answer-box(data-value="Rebel Liberation") Initiating radical changes Able to shake
                        li.draggable
                            .answer-box(data-value="Entertainer Enjoyment") Joyful Positive Enjoyful Free
                        li.draggable
                            .answer-box(data-value="Ruler Control") Responsible Controlling Commanding
                        li.draggable
                            .answer-box(data-value="Sage Understanding") Wise Competent Expert Objective
                        li.draggable
                            .answer-box(data-value="Magician Belief") Charismatic Mystical Magical
                        li.draggable
                            .answer-box(data-value="Everyman Belonging") Realistic Fit for everyone Versatile Ordinary
                        li.draggable
                            .answer-box(data-value="Creator Innovation") Innovating Creating Visionary
                        li.draggable
                            .answer-box(data-value="Explorer Freedom") Independent Unconstrained Exploring Curious
                        li.draggable
                            .answer-box(data-value="Hero Mastery") Brave Persistent Goal oriented
        
.drop-answers-area
    button.quiz-btn.back Back
    ul#a-1.answer-list.chosen
        li.dropppable(data-id="1")
            span Most accurate
        li.dropppable(data-id="2")
            span In the middle
        li.dropppable(data-id="3")
            span Least accurate
    ul#a-2.answer-list.chosen
        li.dropppable(data-id="1")
            span Most accurate
        li.dropppable(data-id="2")
            span In the middle
        li.dropppable(data-id="3")
            span Least accurate

    button.quiz-btn.next Next