.result-container
    .archetype-is
        span Your brand archetype is
        h1 Caregiver
    
    .canvas-height
      canvas#canvas(height="200", width="800")
    
    button#hello Hello
    
    .result-explanation
        .result-box
            .top
                span.percentage 50%
                span.title Caregiver
            
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lorem erat, varius non tempus id, ullamcorper vel quam. Cras at ornare erat, non condimentum elit. Vestibulum sed elit fringilla magna venenatis ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        
        .result-box
            .top
                span.percentage 25%
                span.title Joker
            
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lorem erat, varius non tempus id, ullamcorper vel quam. Cras at ornare erat, non condimentum elit. Vestibulum sed elit fringilla magna venenatis ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        
        .result-box
            .top
                span.percentage 25%
                span.title Ruler
            
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lorem erat, varius non tempus id, ullamcorper vel quam. Cras at ornare erat, non condimentum elit. Vestibulum sed elit fringilla magna venenatis ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
