doctype html
html(lang="lt")
	//- HEAD
	include includes/global/global_head
	//- BODY
	body

		//- Page container
		#page-container

			//- Header
			include includes/global/global_header
			//- Homepage intro
			include structure/homepage-intro

