doctype html
html(lang="lt")
  //- HEAD
  include includes/global/global_head
  //- BODY
  body.ovh
    //- Page container
    include includes/global/global_header
    #page-container.home
      .grid
        include structure/homepage-intro
    #page-container.questions
      include structure/quiz-question
      include includes/global/global_footer
